*.pyc
*.pyo
*.egg-info
*~
*.swp
.directory
*,cover

.coverage
*-log.txt
build/
dist/
i18n/*/LC_MESSAGES/*.mo
i18n/*/LC_MESSAGES/*.js
src/twisted/plugins/dropin.cache

Makefile
Makefile.in
configure
config.*
aclocal.m4
autom4te.cache
install-sh
*.tar.gz
