use strict;
use warnings;
package host;
our %Host = (
             "sup" => {
		     "services"      => {
			 "sysUptime"        => {
			 	"function"      => "identity",
			 	"parameters"    =>  [ ],
			 	"variables"       =>[ "GET/.1.3.6.1.2.1.1.3.0" ]
			  },
			 "ifOperStatus-port1"        => {
			 	"function"      => "ifOperStatus",
			 	"parameters"    =>  [ 'eth0' ], 
			 	"variables"       =>	[ "WALK/.1.3.6.1.2.1.2.2.1.2", # ifDescr
			 				  "WALK/.1.3.6.1.2.1.2.2.1.7", # ifAdminStatus
			 				  "WALK/.1.3.6.1.2.1.2.2.1.8", # ifOperStatus
							]
			  },
			}
		 },
		 "IPAddress"     => "172.25.206.105",
		 "hostname"      => "HOSTNAME",
		 "snmp"          => {
			 "communityString"       => "public",
			 "port"                  => 161,
			 "version"               => 2,
		 },
		 "storeMe"       => {
			 "IPAddress"     => "172.25.206.105",
			 "port"          => 50000,
		 },
		 "spoolMe"       => {
			 "IPAddress"     => "127.0.0.1",
			 "port"          => 50000,
		 },
		 "metro"         => {
			 "step" => 60,
			 "DS" =>
			   [
				 {
					 'name' 	=> "ifInOctetsPort1",
					 'type' 	=> "COUNTER",
					 'heartbeat' 	=> 120,
					 'min' 		=> "U",
					 'max'		=> "U",
					 'function' 	=> "identity",
					 'parameters'	=> [1],
					 'variables'	=> [ "GET/.1.3.6.1.2.1.2.1.16.1" ]
				 },
				 {
					 'name' 	=> "ifOutOctetsPort1",
					 'type' 	=> "COUNTER",
					 'heartbeat' 	=> 120,
					 'min' 		=> "U",
					 'max' 		=> "U",
					 'function' 	=> "identity",
					 'parameters'	=> [1],
					 'variables'	=> [ "GET/.1.3.6.1.2.1.2.1.10.1" ]
				 },
			]
		}
);
1;
