Source: vigilo-collector
Section: vigilo
Priority: extra
Maintainer: Vigilo Team <contact@projet-vigilo.org>
Build-Depends: debhelper (>= 5), perl-doc
Standards-Version: 3.7.2

Package: vigilo-collector
Architecture: all
Suggests: vigilo-collector-doc
Depends:
 nagios2 | nagios3,
 ${perl:Depends},
 libnet-snmp-perl,
 libcrypt-des-perl,
 libdigest-hmac-perl,
 libdigest-sha1-perl,
 libmath-rpn-perl,
 libnagios-cmd-perl
Recommends: nsca
Description: Centralized collector plugin for Nagios
 The Vigilo Collector collects SNMP data for an equipment
 using as few requests as possible. It then forwards both
 states and performance data derived from the response to
 those SNMP requests to other Vigilo components.

Package: vigilo-collector-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends} ${misc:Depends}
Description: Centralized collector plugin for Nagios (documentation)
 The Vigilo Collector collects SNMP data for an equipment
 using as few requests as possible. It then forwards both
 states and performance data derived from the response to
 those SNMP requests to other Vigilo components.
 .
 This package contains documentation about vigilo-collector.
